@{
  Layout = "_Layout";
}

<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to the Best Restaurants</h1>
  <p class="lead">The best restaurants that serve amazing cuisines from all over the world offer a culinary journey that transcends geographical boundaries and tantalizes taste buds with an array of flavors and textures.</p>
  <hr class="my-4">
  <img src="https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="dogs" width="90%" >
</div>
<p>@Html.ActionLink("See all cuisines", "Index", "Cuisines")</p> <p>@Html.ActionLink("See all restaurants", "Index", "Restaurants")</p>
